.bgColor {
    background: url(https://images.pexels.com/photos/238118/pexels-photo-238118.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% 50%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    body .footer {
        margin-top: -90px!important;
    }
}

@media only screen and (max-height: 550px) {
    html body .footer {
        margin-top: 50px!important;
        background-color: red;
    }

    body .btnOne {
        margin-bottom: 10px;
    }
    body .btnTwo {
        margin-bottom: 10px;
    }
    body .btnThird {
        margin-bottom: 10px;
    }
}

@media only screen and (max-height: 500px) {
    html body .footer.footer {
        margin-top: -20px!important;
        background-color: pink;
    }

    body .btnOne {
        margin-bottom: 10px;
    }
    body .btnTwo {
        margin-bottom: 10px;
    }
    body .btnThird {
        margin-bottom: 10px;
    }
}

@media only screen and (max-height: 450px) {
    html body .footer.footer.footer {
        margin-top: 0px!important;
        background-color: blue;
    }

    html body .btnOne {
        margin-bottom: 5px;
    }
    html body .btnTwo {
        margin-bottom: 5px;
    }
    html body .btnThird {
        margin-bottom: 5px;
    }
}

.half {
    background-color: rgba(255,255,255,0.5);
}

.footer {
    padding-bottom: 10px;
    background-color: black;
    margin-top: -45.98px;
}

.wLi {
    width: 280px;
}

.myPhoto {
    object-fit: cover;
}